x-local-base: &local-base
  build:
    context: .
    dockerfile: docker/Dockerfile.local
    args:
      APP_ENV: local
  working_dir: /workspace
  volumes:
    - .:/workspace
  environment:
    APP_ENV: local
    PYTHONPATH: app/src
  stdin_open: true
  tty: true
  command: bash

services:
  local:
    <<: *local-base
    container_name: calendar-auto-register-local

  local-web:
    <<: *local-base
    container_name: calendar-auto-register-local-web
    ports:
      - "8000:8000"

  prod:
    container_name: calendar-auto-register
    build:
      context: .
      dockerfile: docker/Dockerfile
      args:
        APP_ENV: prod
    working_dir: /workspace
    volumes:
      - .:/workspace
    environment:
      APP_ENV: prod
    stdin_open: true
    tty: true
    command: bash
